---
layout: default
permalink: /categories/
title: Categories
theme: dark
---

<div class="columns centered is-flex">
  <div class="column is-half">
    {% for category in site.categories %}
    <ul>
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <li class="is-size-3">
      <a href="/categories/{{category_name}}">{{ category_name | capitalize }}</a>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>
