---
---

@font-face
  font-family: 'Lato'
  src: url('/assets/fonts/Lato-Regular.ttf')  format('truetype')

@font-face
  font-family: 'Lato Bold'
  src: url('/assets/fonts/Lato-Bold.ttf')  format('truetype')


$white-ter: #fafafa
$footer-background-color: $white-ter
$purple: #045682
$gray: #d1d1d1
$blue: #055e8b
$light-blue: #0db9d7
$text: #2d2d2d
$family-primary: 'Lato'
$family-secendary: 'Lato Bold'
$background: $white-ter
$primary: $purple


html, body
  min-height: 100vh
  height: auto
  margin: 0

html.light
  background: $gray
  $background: $gray

html.dark
  background: $purple
  $background: $purple

@charset "utf-8"
@import "./bulma.sass"
@import "./code.scss"


body.light
  color: $text
  background: $gray
  with: 100%
  footer.footer
    background: $gray

  height: 100%
  a
    color: $blue
    &:hover
      color: lighten($blue, 30%)


  a.navlink
    border-radius: $radius
    color: $blue

    &:hover
      background: $purple
      color: $light
  content.post
    text-align: justify

    h1
      @extend .is-size-2
    h2
      @extend .is-size-3
    h3
      @extend .is-size-4
    h4
      @extend .is-size-5
    h5
      @extend .is-size-6

    p, h1, h2, h3, h4, h5, strong
      padding-top: 1em
      padding-bottom: 0.5em
      line-height: 1.5
      color: darken($text, 10%)
    strong
      color: $blue
    p
      text-align: justify

    ul
      list-style: circle
      li
        margin-left: 1em
    a
      color: $blue
      &:hover
        text-decoration: underline

    font-size: 1.3rem
    line-height: 2rem
    code.highlighter-rouge
      background: darken($gray, 10%)
      color: $text
      border-radius: $radius
      padding: 0.1em 0.2em
    .highlight
      margin-top: 1em

  a.post-title-link
    color: $blue
    &:hover
      text-decoration: underline

  a.navlink
    border-radius: $radius
    color: $blue !important

    &:hover
      background: $light
      color: $blue !important

  .share-page
    margin-top: 2em
    a
      color: $blue
      border-radius: $radius

      &:hover
        background: $light
        color: $grey-dark

body.dark
  color: $light
  background: $purple
  footer.footer
    background: $purple
  with: 100%
  height: 100%

  a
    color: $white

    &:hover
      color: darken($white, 30%)


  content.post
    text-align: justify

    h1
      @extend .is-size-2
    h2
      @extend .is-size-3
    h3
      @extend .is-size-4
    h4
      @extend .is-size-5
    h5
      @extend .is-size-6

    p, h1, h2, h3, h4, h5, strong
      padding-top: 1em
      padding-bottom: 0.5em
      line-height: 1.5
      color: darken($white, 10%)
    strong
      color: white
    p
      text-align: justify

    ul
      list-style: circle
      li
        margin-left: 1em
    a
      color: $blue
      &:hover
        text-decoration: underline

    font-size: 1.3rem
    line-height: 2rem
    code.highlighter-rouge
      background: darken($purple, 10%)
      color: $light
      border-radius: $radius
      padding: 0.1em 0.2em
    .highlight
      margin-top: 1em

  a.post-title-link
    color: $light
    &:hover
      text-decoration: underline

  a.navlink
    border-radius: $radius
    color: $light !important

    &:hover
      background: $light
      color: $grey-dark !important

  .share-page
    margin-top: 2em
    a
      color: $light
      border-radius: $radius

      &:hover
        background: $light
        color: $grey-dark

.column.is-flex.centered
  justify-content: center

.columns.is-flex.centered
  justify-content: center

.text-centered
  text-align: center

.text-justified
  text-align: justify

.cv-button
  margin-top: 3rem

.is-size-1
  font-family: 'Lato Bold' !important


span.info
  padding-right: 10px

ul.details
  a
    color: $light
    border-radius: $radius

    &:hover
      background: $light
      color: $grey-dark

  list-decoration: none
  li
    display: inline
  li.category
    padding: 0.5em

.pad
  padding-right: 5px

.navbar-menu
  a.navbar-item
    color: $purple

.is-rounded
  border-radius: 50%
  border: 3px solid darken($purple, 10%)

footer.footer
  margin-top: 5em


.right-aligned
  justify-content: end

h3.header
  margin-bottom: 1em
