---
layout: default
theme: dark
---

<div class="columns is-flex centered">

  <div class="column is-half">
  <h2>Posts on: {{ page.title }}</h2>

  {% unless page.content == '' %}
  <p>{{ page.content }}</p>
  {% endunless %}

  {% for post in site.categories[page.category] %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title is-size-2">
        {{ post.title }}
      </h2>
    </a>
  </div>
  {% endfor %}
  </div>
</div>
