<!DOCTYPE html>
<html class="{% if page.theme %}{{page.theme }}{% else %}light{% endif %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#045682" />
    {% seo %}
    <link href="/assets/styles/web.css?1" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="{% if page.theme %}{{page.theme }}{% else %}light{% endif %}">
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navcontainer"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navcontainer" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item {% if page.url == '/' %}is-active{% endif %}">
              Home
            </a>

            <a href="https://gitlab.com/FG42/FG42" class="navbar-item">
              Code
            </a>

            <a href="https://www.youtube.com/playlist?list=PLlONLmJCfHTroV12sO2Su_O7UyYIfcjqu" class="navbar-item">
              Videos
            </a>

            <a href="https://gitter.im/FG42/FG42" class="navbar-item">
              Get Help
            </a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="https://gitlab.com/FG42">
              <span class="icon is-large is-hidden-mobile">
                <i class="fab fa-gitlab fa-lg"></i>
              </span>
              <span class="is-large is-hidden-desktop">
                <i class="pad fab fa-gitlab fa-lg"></i>
                Gitlab
              </span>
            </a>

            <a class="navbar-item" href="/feed.xml">
              <span class="icon is-large is-hidden-mobile">
                <i class="fas fa-rss fa-lg"></i>
              </span>

              <span class="is-large is-hidden-desktop">
                <i class="pad fas fa-rss fa-lg"></i>
                RSS Feed
              </span>
            </a>

          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2010-2020 Sameer Rahmani</p>
      </div>
    </footer>
    <script src="/assets/js/main.js?1"></script>
  </body>
</html>
