---
layout: default
theme: dark
---



<div class="column is-half-desktop is-offset-one-quarter-desktop">
  <section class="section is-size-4-desktop is-size-5-mobile">
    <p class="text-centered">
      <img
        class="is-rounded"
        alt="logo"
        src="/assets/images/logo.png"
      />
    </p>
    <p class="info text-justified">
      <b>FG42</b> is an editor.
    </p>
  </section>
</div>

<div class="column is-half-desktop is-offset-one-quarter-desktop">
  <section class="section">
    <h3 class="header is-size-4">
      Latest updates:
    </h3>

    {% for post in site.posts %}

    <div class="columns">
      <div class="column">
        <h2 class="is-size-3-desktop is-size-4-mobile">
          <a class="post-title-link" href="{{ post.url }}">
            <i class="fas fa-link"></i> {{ post.title }}
          </a>
        </h2>
      </div>
    </div>

    {% endfor %}
  </section>
</div>
